strong{font-weight: 800;}
.icons-inicio-tablets,#menu-tableta,#menu-movil{display: none;}
object{
  width: 100%;height: 400px;
}
@media screen and (max-width: 993px) {
  object{
    width: 100%;height: 800px;
  }
  span.amarillo, span.azul, span.rosa, span.verde, span.rojo, span.celeste{
    width: 100%;margin-bottom: 0px;height: 46px;line-height: 45px;margin-top: 50px;}
    img.cuerpo.buo {bottom: 1px;}
  .menu-principal, .icons-inicio{ display: none;}
  a.a-btn{
    height: 67px;
  }
  a .a-btn-slide-text {
          height: 20px;
  }
  nav .nav-wrapper i {
      line-height: 40px;
      margin-left: 4px;
      margin-right: 4px;
      font-size: 28px;
  }
  nav ul#nav-mobile li {
      position: relative;
  }
  a.btn-transparente {
    padding: 0 0 0 0;
    background: rgba(255, 182, 0, 0);
    border: solid 0.1px rgba(245, 243, 247, 0.68);
    width: 100%;
    border-radius: 5px;
    height: 98px;
    margin-bottom: 5px;
  }
  a.btn-transparente:hover {transform: scale(1.02);-webkit-transform: scale(1.02);}
  .button-collapse{display: block;}
  span.menu-nicole {
      width: 100%;
      margin-bottom: 0px;
      height: 46px;
      line-height: 45px;
      text-align: center;
      background: linear-gradient(rgb(144, 175, 255) 5%, rgba(0, 149, 255, 0.8) 100%);
      border: 1px solid rgba(255, 255, 255, 0.76);
      display: inline-block;
      cursor: pointer;
      color: white;
      font-family: Arial;
      font-size: 15px;
      font-weight: bold;
      padding: 0px;
      text-decoration: none;
      text-shadow: rgb(0, 0, 0) 0px 1px 0px;
      border-radius: 6px;
  }
  /*nav.nav-extended{background: url(../img/header-nicole-950px.jpg) #ff2fc9;background-size: 100% 359px;background-position: 0 100%;}*/
  #menu-movil{display: block;padding: 0;}
  #menu-movil span.azul{height: 50px;margin-top: 0px;font-size: 25px;line-height: 50px;}
  img.parte-huevo-movil{position: absolute;width: 60px;z-index: 0;top: 13px;right: 15px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
  img.parte-huevo {left: 206px;}
  img.parte2-pato {left: 238px;}
}
@media only screen and (min-width:993px) {
  .carousel.gallery .carousel-item{width: 400px;height: 400px;overflow: hidden;}
}
@media only screen and (min-width: 601px) and (max-width: 993px){
  .icons-inicio-tablets{display: block;}
  a.a-btn {margin: 5px 0px;}
  a.a-btn{width: 68px;}
  .carousel.gallery .carousel-item{width: 300px;height: 300px;overflow: hidden;}
}
@media only screen and (max-width: 601px){
  .carousel.gallery .carousel-item{width: 250px;height: 250px;overflow: hidden;}
  /*nav.nav-extended{background: url(../img/header-nicole-650px.jpg) #ff2fc9;background-size: 100% 319px;background-position: 0 100%;}*/
}
