/* !
Theme Name: Centro Educativo Nicole
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Nicole | Centro educativo Nicole
Version: 10.0
Tags: tema, fernando, fernando averanga, fernando averanga arquipa, @2062nandes
*/
@import url("https://fonts.googleapis.com/css?family=Atma");
body{overflow-x:hidden;background:linear-gradient(#c4ff12,transparent),linear-gradient(22deg,#0096d2,transparent),linear-gradient(-87deg,#ff6744,transparent);background-blend-mode:screen;}
.container{width:100%;max-width:100%;}
body{border-top:1px solid #d410bc;
}
body .barra{background:linear-gradient(#ffdf00,#ff9700);padding:0 0 0 20px;margin:0;}
body .barra .slogan{font-size:0.9375rem;color:#fff;line-height:1.3;text-shadow:-2px 1px 3px #444;margin:10px 0;}
body .barra ul{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;margin:9px 10px;}
body .barra ul li a{background:linear-gradient(80deg,#c914cc,#9438ff);background:linear-gradient(80deg,rgba(201,20,204,.77),rgba(148,56,255,.65));padding:5px;border-radius:5px;margin-right:10px;color:#fff;text-shadow:none;font-size:0.9375rem;}
body .barra ul li a:hover{color:#ece658;background:#b317b6;}
nav.nav-extended{ height:200px;
  background:linear-gradient(#00c9ef 32%,#cffffe 81%,#70ff00 94%);
  border-radius:0;padding:0 18px;}
.ninios{position:absolute;left:50%;bottom:0;margin-left:-51px;width:102px;z-index:2;}
.ninio{bottom:51px;margin-left:38px;-webkit-transform:rotate(25deg);transform:rotate(25deg);width:15px;-webkit-animation:a 1s linear infinite 0s;animation:a 1s linear infinite 0s;-webkit-animation-delay:1s;animation-delay:1s;}
.ninia,.ninio{position:absolute;left:50%;z-index:2;transition:all .3s linear;}
.ninia{bottom:45px;margin-left:-45.5px;width:17px;-webkit-transform:rotate(-20deg);transform:rotate(-20deg);
  -webkit-animation:b 1s linear infinite 0s;
          animation:b 1s linear infinite 0s;-webkit-animation-delay:1s;animation-delay:1s;}
@-webkit-keyframes a{
  0%{-webkit-transform:rotate(25deg);transform:rotate(25deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  50%{-webkit-transform:rotate(80deg);transform:rotate(80deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes a{
  0%{-webkit-transform:rotate(25deg);transform:rotate(25deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  50%{-webkit-transform:rotate(80deg);transform:rotate(80deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@-webkit-keyframes b{
  0%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  50%{-webkit-transform:rotate(50deg);transform:rotate(50deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes b{
  0%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  50%{-webkit-transform:rotate(50deg);transform:rotate(50deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
.solsito{margin-left:-102px;width:205px;}
.sol-resplandor,.solsito{ position:absolute;bottom:26px;z-index:0;left:50%;}
.sol-resplandor{;width:200px;margin-left:-99px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";opacity:.1;transition:all .3s linear;-webkit-animation:c 9s linear infinite 0s;animation:c 9s linear infinite 0s;-webkit-animation-delay:2s;animation-delay:2s;}
@-webkit-keyframes c{
0%{-webkit-transform:scale(1);transform:scale(1);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity:.2;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
50%{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;-webkit-transform:scale(2.1) translateY(-26px);transform:scale(2.1) translateY(-26px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
to{-webkit-transform:scale(1);transform:scale(1);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity:.2;}
}
@keyframes c{
0%{-webkit-transform:scale(1);transform:scale(1);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity:.2;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
50%{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;-webkit-transform:scale(2.1) translateY(-26px);transform:scale(2.1) translateY(-26px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
to{-webkit-transform:scale(1);transform:scale(1);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity:.2;}
}
nav{height:50px;line-height:3.125rem;}
nav .nav-wrapper i{ height:35px; line-height:2.1875rem; float:left; margin-left:5px; margin-right:5px; font-size:1.3125rem;}
nav ul a:hover{ background-color:transparent;}
nav .menu-principal ul li,nav ul li{ position:absolute;}
nav .nav-wrapper ul.icons-inicio{ position:absolute; right:0; top:100%;}
nav .nav-wrapper ul.icons-inicio li{position:relative;}
li.libuo{ padding:0; left:11%;}
li.lipollito{ padding:0;left:1%;top:65px;}
li.lipelicano{ padding:0;left:22%;top:65px;}
li.lipato{ padding:0;right:22%;top:65px;}
li.ligirafa{ padding:0;right:1%;top:65px;}
li.litortuga{ padding:0;right:11%;}
.abejita{right:0;top:1%;z-index:0;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);transition:all .3s linear;-webkit-animation:d 19s linear infinite 0s;animation:d 19s linear infinite 0s;-webkit-animation-delay:2s;animation-delay:2s;}
.abejita img{ width:55px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=88)"; opacity:.88;}
@-webkit-keyframes d{
  0%{right:0;top:1%;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
  12%{top:calc(99% - 60px);}
  25%{top:1%;right:calc(50% - 50px);}
  37%{top:calc(99% - 60px);}
  49%{top:1%;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
  50%{right:calc(100% - 50px);-webkit-transform:rotateY(1turn);transform:rotateY(1turn);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  62%{top:calc(99% - 60px);right:75%;}
  75%{top:1%;right:50%;}
  87%{top:calc(99% - 60px);}
  99%{-webkit-transform:rotateY(1turn);transform:rotateY(1turn);}
  to{top:1%;right:0;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
}
@keyframes d{
  0%{right:0;top:1%;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
  12%{top:calc(99% - 60px);}
  25%{top:1%;right:calc(50% - 50px);}
  37%{top:calc(99% - 60px);}
  49%{top:1%;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
  50%{right:calc(100% - 50px);-webkit-transform:rotateY(1turn);transform:rotateY(1turn);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
  62%{top:calc(99% - 60px);right:75%;}
  75%{top:1%;right:50%;}
  87%{top:calc(99% - 60px);}
  99%{-webkit-transform:rotateY(1turn);transform:rotateY(1turn);}
  to{top:1%;right:0;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);}
}
hr{width:100%;}
ul.icons-inicio i{font-size:2.5rem;height:40px;line-height:2.6875rem;margin-left:2px;margin-right:2px;}
h1,h2{font-family:Pangolin,cursive;text-shadow:-1px 1px 0 #fff,.5px 1px 0 #545454,0 -2px 0 #fff,0 1px 0 #fff,1px 1px #fff,-2px 2px 0 #fff,-2px -3px 0 #fff,2px -1px 0 #fff;line-height:4.9375rem;}
h3{text-align:center;width:100%;line-height:2.5rem;padding:11px 11px 11px 22px;margin:0;font-size:2.375rem;text-decoration:underline;color:#f9003a;}
a.a-btn{width:100px;
  background:#cacaca;background:linear-gradient(0deg,#0fff21 0,#00c304);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#feda71",endColorstr="#febb4a",GradientType=0);
  border:1px solid #6f6f6f;border-color:#9c9c9c #a0a0a0 #e2e2e2;
  box-shadow:0 1px 1px #d3d3d3,inset 0 1px 0 #ccc;padding:0 20px;
  height:67px;display:inline-block;position:relative;
  border-radius:4px;float:left;margin:10px 5px;overflow:hidden;}
a.a-btn,a .a-btn-text{transition:all .3s linear;}
a .a-btn-text{display:block;font-size:0.875rem;padding:0 4px;white-space:nowrap;color:#fff;text-shadow:-1px 1px 1px #616161;}
a .a-btn-slide-text{position:absolute; top:43px; left:1px; text-align:center; width:auto;right:2px;height:20px; background:#fff; color:#005404; font-size:0.6875rem; white-space:nowrap; font-family:Georgia,serif; font-style:italic; overflow:hidden;
   line-height:1.4375rem;box-shadow:-1px 0 1px hsla(0,0%,100%,.4),inset 1px 1px 1px rgba(0,0,0,.5);transition:height .3s linear;}
a.a-btn:hover{height:67px;box-shadow:inset 0 1px 1px hsla(0,0%,100%,.8),1px 1px 5px rgba(0,0,0,.4);}
a.a-btn:hover .a-btn-text{ text-shadow:1px 2px 1px rgba(0,0,0,.33);color:#fff;}
a.a-btn:hover .a-btn-slide-text{height:20px;}
.menu-principal{margin-top:0;}
a.btn-transparente{padding:0;background:transparent;width:160px;border-radius:20px;}
a.btn-transparente span{transition:height 1.3s linear;}
a.btn-transparente:hover span{box-shadow:1px 2px 4px 0 #212121;}
span.amarillo,span.azul,span.celeste,span.rojo,span.rosa,span.verde{padding:0 5px;float:right;box-shadow:inset 1px 5px 0 0 rgba(255,250,255,.37);border:1.5px solid hsla(0,0%,40%,.46);text-align:left;width:160px;
  margin-top:85px;margin-bottom:10px;height:35px;font-size:1.03125rem;line-height:2.1875rem;text-shadow:#000 0 1px 0;border-radius:6px;transition:1.5s ease;}
a.btn-transparente:hover{ z-index:100;-webkit-transform:scale(1.1);transform:scale(1.1);}
span.amarillo{background:linear-gradient(#ffe000 5%,#b19b00);}
span.amarillo,span.azul{ display:inline-block; cursor:pointer; color:#fff; font-family:Arial;  font-weight:700;  text-decoration:none;}
span.azul{text-align:center;background:linear-gradient(#90afff 5%,#0095ff);background:linear-gradient(#90afff 5%,rgba(0,149,255,.8));}
span.rosa{background:linear-gradient(#ff8bc7 5%,#ff4dc9);}
span.rosa,span.verde{ display:inline-block; cursor:pointer; color:#fff; font-family:Arial;  font-weight:700;  text-decoration:none;}
span.verde{background:linear-gradient(#32bf2d,#00e412);background:linear-gradient(#32bf2d,rgba(0,228,18,.97));}
span.rojo{background:linear-gradient(#f55 5%,#ff2b1f);background:linear-gradient(#f55 5%,rgba(255,43,31,.97));}
span.celeste,span.rojo{display:inline-block;cursor:pointer;color:#fff;font-family:Arial;font-weight:700;text-decoration:none;}
span.celeste{ background:linear-gradient(#ffc356 5%,#ff9900); background:linear-gradient(#ffc356 5%,rgba(255,153,0,.97));}
img.cuerpo.buo{right:0;}
img.cuerpo.buo,img.cuerpo.huevo{width:95px;position:absolute;z-index:1;bottom:35px;}
img.cuerpo.huevo{left:0;}
img.parte-buo{position:absolute;top:0;right:22px;width:85px;z-index:0;-webkit-transform:rotate(-27deg);transform:rotate(-27deg);transition:all .3s linear;}
a:hover img.parte-buo{z-index:0;-webkit-transform:rotate(30deg);transform:rotate(30deg);}
img.parte-huevo{position:absolute;width:60px;z-index:0;top:13px;left:15px;transition:all .3s linear;}
a:hover img.parte-huevo{top:0;}
img.parte-pelicano{position:absolute;width:84px;z-index:0;top:18px;right:1px;transition:all .3s linear;}
a:hover img.parte-pelicano{z-index:0;-webkit-transform:rotate(80deg);transform:rotate(80deg);}
img.parte-girafa{position:absolute;width:160px;z-index:-1;top:-29px;right:-43px;-webkit-transform:rotate(-23deg);transform:rotate(-23deg);transition:all .3s linear;}
a:hover img.parte-girafa{z-index:0;-webkit-transform:rotate(-55deg);transform:rotate(-55deg);}
img.parte1-pato{ width:32px; z-index:-1; top:58px;left:6px;-webkit-transform:rotate(-50deg);transform:rotate(-50deg);}
img.parte1-pato,img.parte2-pato{position:absolute;transition:all .3s linear;}
img.parte2-pato{  width:22px;  z-index:0;  top:62px;left:55px;}
a:hover img.parte1-pato{-webkit-transform:rotate(30deg);transform:rotate(30deg);}
a:hover img.parte2-pato{top:69px;}
img.parte1-mono{position:absolute;top:9px;right:-9px; width:110px;z-index:1;transition:all .3s linear;}
a:hover img.parte1-mono{-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
img.parte2-mono{position:absolute;top:-10px;right:1px;width:95px;z-index:2;transition:all .3s linear;}
a:hover img.parte2-mono{top:-1px;right:17px;-webkit-transform:rotate(-75deg);transform:rotate(-75deg);}
nav .brand-logo{position:absolute; z-index:1; color:#fff; display:inline-block; font-size:33.6px; font-size:2.1rem; padding:0 10px; white-space:nowrap; top:-35px; left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
a.brand-logo h1,a.brand-logo h2{font-family:Atma,cursive;}
a.brand-logo h1{margin:15px 0 45px 60px;color:#0031a9;font-size:1.25rem;-webkit-transform-style:preserve-3d;transform-style:preserve-3d; -webkit-transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg); transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);transition:all .3s linear;-webkit-animation:e 3.5s linear infinite 0s;animation:e 3.5s linear infinite 0s;-webkit-animation-delay:2s;animation-delay:2s;
  text-shadow:-1px 1px 0 #fff,.5px 1px 0 #545454,0 -2px 0 #fff,0 1px 0 #fff,1px 1px #fff,2px 0 0 #fff,-1px -1px 0 #fff,2px -1px 0 #fff;
}
@-webkit-keyframes e{
	0%{-webkit-transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);
	    -webkit-animation-timing-function:ease-in;
	            animation-timing-function:ease-in;}
	35%{-webkit-transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);
	     -webkit-animation-timing-function:ease-out;
	             animation-timing-function:ease-out;}
	60%{-webkit-transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);}
	to{-webkit-transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);}
}
@keyframes e{
	0%{-webkit-transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);
	    -webkit-animation-timing-function:ease-in;
	            animation-timing-function:ease-in;}
	35%{-webkit-transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);
	     -webkit-animation-timing-function:ease-out;
	             animation-timing-function:ease-out;}
	60%{-webkit-transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);transform:scale(1.2) translateY(0) rotateX(1deg) rotate(1deg);}
	to{-webkit-transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);transform:scale(1) translateY(0) rotateX(1deg) rotate(12deg);}
}
.brand-logo h2{
  color:#f70202;
font-size:3.75rem;  text-align:center;margin-top:-75px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;
-webkit-transform:scale(1);
        transform:scale(1);transition:all .3s linear;-webkit-animation:f 3.5s linear infinite 0s;animation:f 3.5s linear infinite 0s;-webkit-animation-delay:2s;animation-delay:2s;
}
@-webkit-keyframes f{
0%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
35%{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
60%{-webkit-transform:scale(1.2);transform:scale(1.2);}
to{-webkit-transform:scale(1);transform:scale(1); }
}
@keyframes f{
0%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
35%{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
60%{-webkit-transform:scale(1.2);transform:scale(1.2);}
to{-webkit-transform:scale(1);transform:scale(1); }
}
.carousel.carousel-slider.carusel-slider{height:250px;}
a.carousel-item.active:hover{cursor:zoom-in;}
.tabs-content{border-bottom:3px solid #fff;border-left:3px solid #fff;border-right:3px solid #fff;border-radius:0 0 20px 20px;}
.tabs .tab{ text-transform:capitalize; font-weight:600;}
.tabs .tab a{color:#0f9400;color:rgba(15,148,0,.7);text-shadow:0 1px 2px #b3b3b3;font-size:0.9375rem;font-weight:500;}
.tabs .indicator{height:5px;background-color:#ee6f74;background-color:rgba(238,111,116,.89);}
.carousel.gallery{-webkit-perspective:500px;perspective:500px;margin-top:20px;}
.carousel .carousel-item{width:250px;height:350px;overflow:auto;}
.carousel .carousel-item.ncl{background:linear-gradient(90deg,hsla(0,0%,100%,.86) 36%,hsla(0,0%,100%,.28));}
.carousel.gallery p{ line-height:1.3;margin:0;}
article{margin:0 25px;font-family:Roboto Condensed,sans-serif;
}
article ul:not(.browser-default){padding-left:25px;}
article ul:not(.browser-default) li{list-style-type:disc;}
  h1,h2{font-family:Roboto Condensed,sans-serif;}

  .niveles{float:left;width:100%;background:linear-gradient(180deg,hsla(0,0%,100%,0),#fff);border-bottom:5px solid rgba(255,223,0,.8);border-radius:0 0 15px 15px;
  }

  .niveles h2{font-size:40.96px;font-size:2.56rem;line-height:4.375rem;margin:3px 0 3px 15px;color:#d410bc;color:rgba(212,16,188,.93);}

  .niveles .nvl{display:-webkit-box;display:-ms-flexbox;display:flex;}

  .niveles i{font-size:32px;font-size:2rem;}
  .btn-niveles{background:linear-gradient(50deg,#e6e6e6,#fff,#e2e2e2);border-radius:6px 6px 6px 6px;border:1px solid #5734ee;border:1px solid rgba(87,52,238,.56);padding:5px;margin:0 3px;box-shadow:inset 2px 5px 3px 0 hsla(0,0%,60%,.32);width:100%;text-align:center;}
  .btn-niveles.active,.btn-niveles:hover{background:linear-gradient(50deg,#ffcd00,#f3ff00,#ffbe00);-webkit-transform:translateY(5px);transform:translateY(5px);
    width:100%;color:#fb0be1;
    text-align:center;}
  .noticias{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;
  }
  .noticias p{text-align:center;}
  .noticias a.btn-detalle{background:linear-gradient(#9600ff,#c066ff,#9600ff);padding:8px;color:#fff;text-shadow:1px 1px 1px #000;border-radius:5px;}
  .btn-niveles.opacity{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;}
  .btn-niveles.opacity:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;}
.albums{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  width:100%;
}
.albums .col-20{position:relative;transition:all .5s;}
.albums .col-20>.directorio{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;}
@media only screen and (min-width:1193px){.albums .col-20>.directorio{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}}
@media only screen and (min-width:1193px){.albums .col-20{width:calc(25% - 15px);margin:7.5px;}}
@media only screen and (min-width:791px) and (max-width:1193px){.albums .col-20{width:calc(33.3333% - 10px);margin:5px;}}
@media only screen and (min-width:491px) and (max-width:791px){.albums .col-20{width:calc(50% - 10px);margin:5px;}}
@media only screen and (max-width:491px){.albums .col-20{width:calc(100% - 10px);margin:5px;}}
.albums .col-20:hover{-webkit-transform:scale(1.04);transform:scale(1.04);}
  .galeria{
      width:40%;
      position:relative;
      overflow:hidden;
  }
  .galeria .icon-camera{position:absolute;bottom:10px;right:10px;font-size:48px;font-size:3rem;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";opacity:.9;-webkit-transform:translate(-6%);transform:translate(-6%);transition:all .5s;}
  .galeria:after{content:"";position:absolute;top:0;left:0;border-radius:15px 15px 0 0;width:100%;height:100%;background:linear-gradient(50deg,#ffd700,transparent,#5cff7f);background:linear-gradient(50deg,rgba(255,215,0,.47),transparent,rgba(92,255,127,.35));}
  .galeria-text{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:60%;
    padding-left:10px;
    padding-right:10px;
  }
  .card .card-image .card-title{color:#003399;color:rgba(0,51,153,.92);padding:5px 10px;font-weight:600;transition:all .5s;z-index:1;}
  .card .card-image .card-title:hover{color:#dc2dc2;}
  .card .card-image:after{content:"";width:100%;height:300px;position:absolute;background:linear-gradient(transparent,#ffeb61);background:linear-gradient(transparent,rgba(255,235,97,.58));top:0;}
  .card .card-content{
      padding:10px 15px;
  }
  .card .card-action{
    padding:11px 24px;
  }
  .btn-leer{
    background:#00359e;
    background:rgba(0,53,158,.87);
    color:#fff !important;
    text-shadow:-1px 0 3px rgba(45,28,0,.75),2px 0 3px rgba(45,28,0,.52);
    text-transform:none;
  }
  .btn-leer:active,.btn-leer:hover{background:linear-gradient(#d826b5,#dc2dc2);color:#fff;}
  .directorio,a.nivel{transition:all .3s linear;
  }
  @media only screen and (min-width:1193px){.directorio .galeria,.directorio .galeria-text,.directorio img,a.nivel .galeria,a.nivel .galeria-text,a.nivel img{width:100%;}}
  .directorio img,a.nivel img{-o-object-fit:cover;object-fit:cover;border-radius:10px 0 0 10px;border-bottom:1px solid rgba(0,0,0,.15);}
  @media only screen and (min-width:1193px){.directorio img,a.nivel img{height:190px;border-radius:10px 10px 0 0;}}
  @media only screen and (min-width:791px) and (max-width:1193px){.directorio img,a.nivel img{height:130px;}}
  @media only screen and (min-width:491px) and (max-width:791px){.directorio img,a.nivel img{height:125px;}}
  @media only screen and (max-width:491px){.directorio img,a.nivel img{height:150px;}}
  .directorio span,a.nivel span{position:absolute;top:30%;left:50%;border-radius:15px;color:#213375;text-align:center;text-shadow:-2px 2px 3px hsla(0,0%,100%,.8),2px -2px 4px hsla(0,0%,100%,.85);font-size:26px;font-size:1.625rem;font-weight:700;line-height:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;transition:all .5s;-webkit-transform:translateX(-50%) translateY(-200%);transform:translateX(-50%) translateY(-200%);}
  .directorio h5,a.nivel h5{color:#1c2796;font-weight:100;}
  .directorio:hover span,a.nivel:hover span{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}
  .directorio:hover .icon-camera,a.nivel:hover .icon-camera{color:#191975;right:50%;font-size:64px;font-size:4rem;-webkit-transform:translate(50%);transform:translate(50%);}
  .imagen-nicole{border:5px solid #8fc802;border-radius:14px;margin-bottom:10px;}
  #materialbox-overlay{ background-color:#c900ff; background-color:rgba(201,0,255,.57);}

article.catalogo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around;background:linear-gradient(90deg,#fff,hsla(0,0%,100%,.51));
}
    .tarjeta{margin:5px;
    }
    .tarjeta div{padding:2px;color:#0060de;text-align:center;text-shadow:1px 1px 1px #3e3e3e;border-radius:0 0 10px 10px;}
    .tarjeta div img.responsive-img{width:100%;-o-object-fit:cover;object-fit:cover;}
    @media only screen and (min-width:993px){.tarjeta div img.responsive-img{height:115px;}}
    @media only screen and (min-width:601px) and (max-width:993px){.tarjeta div img.responsive-img{height:120px;}}
    @media only screen and (max-width:601px){.tarjeta div img.responsive-img{height:100px;}}
    @media only screen and (min-width:993px){.tarjeta{width:calc(20% - 10px);}}
    @media only screen and (min-width:601px) and (max-width:993px){.tarjeta{width:calc(33.3333333333% - 10px);}}
    @media only screen and (max-width:601px){.tarjeta{width:calc(50% - 10px);}}

.row .articulo{position:relative;padding:10px 25px;margin-top:5px;margin-bottom:10px;border-radius:26px;background:linear-gradient(90deg,#fff,hsla(0,0%,100%,.56));
}

.row .articulo .imgcalendario{text-align:center;}

@media only screen and (min-width:993px){.row .articulo .imgcalendario{width:40%;}}

@media only screen and (min-width:601px) and (max-width:993px){.row .articulo .imgcalendario{width:65%;}}

@media only screen and (max-width:601px){.row .articulo .imgcalendario{width:100%;}}
.row .calendary{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
@media only screen and (min-width:1193px){.row .calendary .g-33{width:calc(33.3333% - 15px);margin:7.5px;}}
@media only screen and (min-width:791px) and (max-width:1193px){.row .calendary .g-33{width:calc(50% - 10px);margin:5px;}}
@media only screen and (max-width:791px){.row .calendary .g-33{width:100%;}}

.borde-azul{
    background:#fff;
    border-radius:10px;
    box-shadow:-1px 1px 6px 0 #3993ff;
}

.row .col.s24{width:19.9%; margin-left:auto; left:auto; right:auto; margin:0; padding:0;}
.input-field{ margin-top:0;line-height:.7;}
.input-field .prefix{font-size:1.2em;left:15px;line-height:.6;color:#1f4896;}
input:not([type]),input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],textarea.materialize-textarea{
    height:20.8px;
    height:1.3rem;
    border-bottom:1px solid #504896;}
.input-field .prefix.active{color:#db02df;}
input:not([type]):focus:not([readonly]),input[type=date]:focus:not([readonly]),input[type=datetime-local]:focus:not([readonly]),input[type=datetime]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=search]:focus:not([readonly]),input[type=tel]:focus:not([readonly]),input[type=text]:focus:not([readonly]),input[type=time]:focus:not([readonly]),input[type=url]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
  border-bottom:1px solid #db02df;box-shadow:0 1px 0 0 #db02df;}
input:not([type]):focus:not([readonly])+label,input[type=date]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=datetime]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label{
  color:#db02df;
}
input:not([type]),input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],textarea.materialize-textarea{
    margin:0 0 15px;}
.input-field label{color:#000; top:1.6px; top:.1rem; font-size:0.8rem; font-size:.8rem;}
textarea.materialize-textarea{ min-height:0;line-height:1rem;padding-bottom:5px;}
iframe{width:100%;}
.pradera{margin-left:7.5%; margin-right:7.5%; width:85%; margin-bottom:7%; border-radius:0 0 19px 19px;}
ul.social_icons{list-style:none; padding:0; margin:0; display:block;}
ul.social_icons li{display:inline-block;margin-right:5px;margin-top:11px;margin-bottom:10px;}
ul.social_icons .fa-facebook{background:#2268d4;background:radial-gradient(#1286ff,#2268d4,#5cb4ff 110%);}
ul.social_icons .fa-twitter{background:#20b8ff;background:radial-gradient(#00a6ff,#1fb7ff,#fff);}
ul.social_icons .fa-google-plus{background:#d34836;background:radial-gradient(#ff5151,#ff3e3e,#801a1a);}
ul.social_icons li a i{border-radius:50%;color:#fff;height:40px;line-height:2.5rem;font-size:1.25rem;padding:0;text-align:center;width:40px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";opacity:.75;}
ul.social_icons .fa-facebook:hover,ul.social_icons .fa-google-plus:hover,ul.social_icons .fa-twitter:hover{-webkit-transform:rotate(1turn);transform:rotate(1turn);transition-duration:2s;transition-property:all;transition-timing-function:ease;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;transition:all .9s ease 0s;}
footer.dir-fot{display:-webkit-box;display:-ms-flexbox;display:flex;background:linear-gradient(transparent,#00c9ef 40%,#cffffe 72%,#70ff00 106%);background:linear-gradient(transparent,rgba(0,201,239,.82) 40%,#cffffe 72%,#70ff00 106%);}
footer.barra-fot{margin-top:0;margin-bottom:0;padding:8px 0 3px;background:linear-gradient(#ffdf00,#ff9700);}
footer #datos{margin-top:10px;}
footer #datos p{margin:0;}
footer #datos a{color:#bd006f;background:hsla(0,0%,100%,.71);padding:5px;border-radius:10px;}
footer #datos a,footer #datos a:hover{transition:.3s;-webkit-transform:translateX(2px);transform:translateX(2px);}
footer #datos a:hover{ color:#009ac3;text-shadow:1px 1px 0 #303030;}
p.ah{line-height:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity:.6;transition:.4s;}
p.ah:hover,p.ah a:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1; color:#bd006f; transition:.4s;}
nav.nav-extended .nav-wrapper{min-height:200px;}
.flex-center-group{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -ms-flex-pack:distribute;
      justify-content:space-around;
}
.Modal-overlay{
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index:9000;
  height:100%;
  width:100%;
  background-color:#000000;
  background-color:rgba(0,0,0,.85);
  cursor:pointer;
}
.Modal-box{
  position:absolute;
  top:10%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  width:100%;
}
@media only screen and (min-width:900px){.Modal-box{width:65%;}}
.Modal-box>.video-container{position:absolute;top:50%;left:0;width:100%;max-width:900px;height:100%;max-height:600px;margin:auto;overflow:hidden;}
.Modal-box>.video-container>embed,.Modal-box>.video-container>iframe,.Modal-box>.video-container>object{position:absolute;top:0;left:0;width:100%;height:100%;}
.Modal-close{
  position:absolute;
  top:0;
  right:0;
  z-index:9000 + 1;
  padding:5px 10px;
  color:#fff;
  font-size:1rem;
  line-height:1;
  text-shadow:none;
  text-transform:uppercase;
  background-color:#000000;
  background-color:rgba(0,0,0,.85);
}

.Modal-cancel-overflow{
  overflow:hidden;
}
