body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:"Comic Sans MS", cursive;
	text-shadow: -1px 1px 1px white;
	color:#039;
	font-size: 17px;
	line-height: 1.5;
}
a, a:link {
	color: #003399;
  font-style: italic;
}
a:hover {
	color: #fb0be1;
}
#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; }
#overlay img{ border: none; }


#overlay{ background-image: url(http://www.centroeducativonicole.edu.bo/images/overlay.png); }

* html #overlay{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.centroeducativonicole.edu.bo/images/overlay.png", sizingMethod="scale");

}
