@charset "utf-8";
/* !
Theme Name: Centro Educativo Nicole
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Nicole | Centro educativo Nicole
Version: 10.0
Tags: tema, fernando, fernando averanga, fernando averanga arquipa, @2062nandes
*/
@import url('https://fonts.googleapis.com/css?family=Atma');
body{overflow-x: hidden;background: linear-gradient( #c4ff12, transparent ), linear-gradient( 22deg, #0096d2, transparent ), linear-gradient( -87deg, #ff6744, transparent );background-blend-mode: screen;}
.container{width: 100%;max-width: 100%;}
body{border-top: solid 1px rgb(212, 16, 188);
  .barra {background: linear-gradient(#ffdf00, #ff9700);padding: 0 0 0 20px;margin: 0;
    .slogan{font-size: 15px;color: white;line-height: 1.3;text-shadow: -2px 1px 3px #444444;margin: 10px 0;}
    ul{display: inline-flex;margin: 9px 10px;
      li a{background: linear-gradient(80deg,rgba(201, 20, 204, 0.77),rgba(148, 56, 255, 0.65));padding: 5px 5px;border-radius: 5px;margin-right: 10px;color: white;text-shadow: none;font-size: 15px;}
      li a:hover{color: rgb(236, 230, 88); background:rgb(179, 23, 182);}
    }
  }
}
nav.nav-extended{ height: 200px;
  /*background: linear-gradient(210deg,#ff00e0 0%,rgba(255, 127, 227, 0.72) 20%,#ff00e0 45%,rgba(255, 127, 227, 0.72) 80%, #ff00e0 100%); */
  background: linear-gradient(#00c9ef 32%,#cffffe 81%,#70ff00 94%);
  border-radius:0;padding: 0 18px;}
.ninios{position: absolute;left: 50%;bottom: 0;margin-left: -51px;width: 102px;z-index: 2;}
.ninio{position: absolute;left: 50%;z-index: 2;bottom: 51px;margin-left: 38px;transform: rotate(25deg);width: 15px;transition: all 0.3s linear;animation: ellasaluda 1s linear infinite 0s;animation-delay: 1s;}
.ninia{z-index: 2;position: absolute;left: 50%;bottom: 45px;margin-left: -45.5px;width: 17px;transform: rotate(-20deg);transition: all 0.3s linear;
  animation: elsaluda 1s linear infinite 0s;animation-delay: 1s;}
@keyframes ellasaluda {
  0% {transform: rotate(25deg);animation-timing-function: ease-out;}
  50% {transform: rotate(80deg);animation-timing-function: ease-out;}
  100%{}
}
@keyframes elsaluda {
  0% {transform: rotate(-20deg);animation-timing-function: ease-out;}
  50% {transform: rotate(50deg);animation-timing-function: ease-out;}
  100%{}
}
.solsito{ position: absolute;bottom: 26px;z-index: 0;left: 50%;margin-left:-102px;width: 205px;}
.sol-resplandor{position: absolute;bottom: 26px;;width: 200px;left: 50%;margin-left: -99px;opacity: 0.1;z-index: 0;transition: all 0.3s linear;animation: resplandor 9s linear infinite 0s;animation-delay: 2s;}
@keyframes resplandor {
0% {transform: scale(1);opacity:0.2;animation-timing-function: ease-in;}
50% {opacity: 0.8;transform: scale(2.1) translate(0px, -26px);animation-timing-function: ease-out;}
100%{transform: scale(1);opacity:0.2;}
}
nav {height: 50px;line-height: 50px;}
nav .nav-wrapper i { height: 35px; line-height: 35px; float: left; margin-left: 5px; margin-right: 5px; font-size: 21px;}
nav ul a:hover { background-color: transparent;}
nav .menu-principal ul li, nav ul li{ position: absolute;}
nav .nav-wrapper ul.icons-inicio{ position: absolute; right: 0; top: 100%;}
nav .nav-wrapper ul.icons-inicio li{position: relative;}
li.libuo{ padding: 0; left: 11%;}
li.lipollito{ padding:0;left: 1%;top: 65px;}
li.lipelicano{ padding:0;left: 22%;top: 65px;}
li.lipato{ padding:0;right: 22%;top: 65px;}
li.ligirafa{ padding:0;right: 1%;top: 65px;}
li.litortuga{ padding:0;right: 11%;}
.abejita{right: 0;top: 1%;z-index: 0;transform: rotateY(180deg);transition: all 0.3s linear;animation: animacionabeja 19s linear infinite 0s;animation-delay: 2s;}
.abejita img{ width: 55px; opacity: 0.88;}
@keyframes animacionabeja {
  0% {right: 0;top: 1%;transform: rotateY(180deg);animation-timing-function: ease-in;}
  12% {top: calc(99% - 60px);}
  25% {top: 1%;right: calc(50% - 50px);}
  37% {top: calc(99% - 60px);}
  49% {top: 1%;transform: rotateY(180deg);}
  50% {right: calc(100% - 50px);transform: rotateY(360deg);animation-timing-function: ease-out;}
  62% {top: calc(99% - 60px);right: 75%;}
  75% {top: 1%;right: 50%;}
  87% {top: calc(99% - 60px);}
  99% {transform: rotateY(360deg);}
  100% {top: 1%;right: 0;transform: rotateY(180deg);}
}
hr{width: 100%;}
ul.icons-inicio i{font-size: 40px;height: 40px;line-height: 43px;margin-left: 2px;margin-right: 2px;}
h1,h2{font-family: 'Pangolin', cursive;text-shadow: -1px 1px 0px rgb(255, 255, 255), 0.5px 1px 0 #545454, 0 -2px 0 #fff, 0 1px 0 #fff, 1px 1px #fff, -2px 2px 0 #fff, -2px -3px 0 #fff, 2px -1px 0 #fff;line-height: 79px;}
h3 {text-align: center;width: 100%;line-height: 40px;padding: 11px 11px 11px 22px;margin: 0;font-size: 38px;text-decoration: underline;color: #f9003a;}
/*btns inicio*/
a.a-btn{width: 100px;
  background: #cacaca;background: linear-gradient(to top, #0fff21 0%, #00c304 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda71', endColorstr='#febb4a',GradientType=0 );
  border: 1px solid #6f6f6f;border-color: #9c9c9c #a0a0a0 #e2e2e2;
  box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #cccccc;padding: 0px 20px 0px 20px;
  height: 67px;display: inline-block;position: relative;
  border-radius: 4px;float: left;margin: 10px 5px;overflow: hidden;transition: all 0.3s linear;}
a .a-btn-text {display: block;font-size: 14px;padding: 0 4px;white-space: nowrap;color: #ffffff;text-shadow: -1px 1px 1px #616161;transition: all 0.3s linear;}
a .a-btn-slide-text {position: absolute; top: 43px; left: 1px; text-align: center; width: auto;right: 2px;height: 20px; background: #fff; color: #005404; font-size: 11px; white-space: nowrap; font-family: Georgia, serif; font-style: italic; overflow: hidden;
   line-height: 23px;box-shadow: -1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;transition: height 0.3s linear;}
a.a-btn:hover {height: 67px;box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);}
a.a-btn:hover .a-btn-text { text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.33);color: #fff;}
a.a-btn:hover .a-btn-slide-text {height: 20px;}
/*botones animales*/
.menu-principal{margin-top: 0px;}
a.btn-transparente{padding: 0 0 0 0;background: transparent;width: 160px;border-radius: 20px;}
a.btn-transparente span{transition: height 1.3s linear;}
a.btn-transparente:hover span{box-shadow: 1px 2px 4px 0px #212121;}
span.amarillo, span.azul, span.rosa, span.verde, span.rojo, span.celeste{padding: 0 5px;float: right;box-shadow: rgba(255, 250, 255, 0.37) 1px 5px 0px 0px inset;border: 1.5px solid rgba(101, 101, 101, 0.46);text-align: left;width: 160px;
  margin-top: 85px;margin-bottom: 10px;height: 35px;font-size: 16.5px;line-height: 35px;text-shadow: rgb(0, 0, 0) 0px 1px 0px;border-radius: 6px;transition: 1.5s ease;}
a.btn-transparente:hover{ z-index: 100;transform : scale(1.1);}
span.amarillo{background: linear-gradient(rgb(255, 224, 0) 5%, rgb(177, 155, 0) 100%); display: inline-block; cursor: pointer; color: white; font-family: Arial;  font-weight: bold;  text-decoration: none;}
span.azul{text-align: center;background: linear-gradient(rgb(144, 175, 255) 5%, rgba(0, 149, 255, 0.8) 100%);display: inline-block;cursor: pointer;color: white;font-family: Arial;font-weight: bold;text-decoration: none;}
span.rosa{background: linear-gradient(rgb(255, 139, 199) 5%, rgb(255, 77, 201) 100%); display: inline-block; cursor: pointer; color: white; font-family: Arial;  font-weight: bold;  text-decoration: none;}
span.verde{background: linear-gradient(rgb(50, 191, 45), rgba(0, 228, 18, 0.97));display: inline-block;cursor: pointer;color: white;font-family: Arial;font-weight: bold;text-decoration: none;}
span.rojo{background: linear-gradient(rgb(255, 85, 85) 5%, rgba(255, 43, 31, 0.97) 100%);display: inline-block;cursor: pointer;color: white;font-family: Arial;font-weight: bold;text-decoration: none;}
span.celeste{ background: linear-gradient(rgb(255, 195, 86) 5%, rgba(255, 153, 0, 0.97) 100%); display: inline-block;  cursor: pointer;  color: white;  font-family: Arial;    font-weight: bold; text-decoration: none;}
img.cuerpo.buo{width: 95px;position: absolute;right: 0px;z-index: 1;bottom: 35px;}
img.cuerpo.huevo{width: 95px;position: absolute;left: 0px;z-index: 1;bottom: 35px;}
img.parte-buo{position: absolute;top: 0px;right: 22px;width: 85px;z-index: 0;transform: rotate(-27deg);transition: all 0.3s linear;}
a:hover img.parte-buo{z-index: 0;transform: rotate(30deg);}
img.parte-huevo{position: absolute;width: 60px;z-index: 0;top: 13px;left: 15px;transition: all 0.3s linear;}
a:hover img.parte-huevo{top: 0px;}
img.parte-pelicano{position: absolute;width: 84px;z-index: 0;top: 18px;right: 1px;transition: all 0.3s linear;}
a:hover img.parte-pelicano{z-index: 0;transform: rotate(80deg);}
img.parte-girafa{position: absolute;width: 160px;z-index: -1;top: -29px;right: -43px;transform: rotate(-23deg);transition: all 0.3s linear;}
a:hover img.parte-girafa{z-index: 0;transform: rotate(-55deg);}
img.parte1-pato{position: absolute; width: 32px; z-index: -1; top: 58px;left: 6px;transform: rotate(-50deg);transition: all 0.3s linear;}
img.parte2-pato{ position: absolute;  width: 22px;  z-index: 0;  top: 62px;left: 55px;transition: all 0.3s linear;}
a:hover img.parte1-pato{transform: rotate(30deg);}
a:hover img.parte2-pato{top: 69px;}
img.parte1-mono{position: absolute;top: 9px;right: -9px; width: 110px;z-index: 1;transition: all 0.3s linear;}
a:hover img.parte1-mono{transform: rotate(-30deg);}
img.parte2-mono{position: absolute;top: -10px;right: 1px;width: 95px;z-index: 2;transition: all 0.3s linear;}
a:hover img.parte2-mono{top: -1px;right: 17px;transform: rotate(-75deg);}
/*LOGO PRINCIPAL*/
nav .brand-logo {position: absolute; z-index: 1; color: #fff; display: inline-block; font-size: 2.1rem; padding: 0 10px; white-space: nowrap; top: -35px; left: 50%;transform: translateX(-50%);}
/*Animacion H1*/
a.brand-logo{
  h1,h2{
    font-family: 'Atma', cursive;
  }
}
a.brand-logo h1{margin: 15px 0 45px 60px;color: #0031a9;font-size: 20px;transform-style: preserve-3d; transform: scale(1) translateY(0) rotateX(1deg) rotateZ(12deg);transition: all 0.3s linear;animation: animacionh1 3.5s linear infinite 0s;animation-delay: 2s;
  text-shadow: -1px 1px 0 #fff, 0.5px 1px 0 #545454, 0 -2px 0 #fff, 0 1px 0 #fff, 1px 1px #fff, 2px 0px 0 #fff, -1px -1px 0 #fff, 2px -1px 0 #fff;
}
@keyframes animacionh1 {
	0% {transform: scale(1) translateY(0) rotateX(1deg) rotateZ(12deg);
	    animation-timing-function: ease-in;}
	35% {transform: scale(1.2) translateY(0) rotateX(1deg) rotateZ(1deg);
	     animation-timing-function: ease-out;}
	60% {transform: scale(1.2) translateY(0) rotateX(1deg) rotateZ(1deg);}
	100% {transform: scale(1) translateY(0) rotateX(1deg) rotateZ(12deg);}
}
.brand-logo h2{
  color: #f70202;
/*text-shadow: 1px 0px 0px rgb(105, 105, 105), 1px -5px 0 #fff, 5px -1px 0px #fff, -2px -4px 2px #fff, -4px -5px 0px #fff, -5px 3px 0px #fff, -1px 4px 1px #fff, -1px 4px 0px #fff, 3px 3px 0px #fff;  */
font-size: 60px;  text-align: center;margin-top: -75px;transform-style: preserve-3d;
transform: scale(1);transition: all 0.3s linear;animation: animacionh2 3.5s linear infinite 0s;animation-delay: 2s;
}
@keyframes animacionh2 {
0% {transform: scale(1);animation-timing-function: ease-out;}
35% {transform: scale(1.2);animation-timing-function: ease-out;}
60% {transform: scale(1.2);}
100% {transform: scale(1); }
}
/*carusel-slider*/
.carousel.carousel-slider.carusel-slider{height:250px ;}
a.carousel-item.active:hover{cursor: zoom-in;}
/*Quien es Nicole*/
.tabs-content{border-bottom: solid 3px white;border-left: solid 3px white;border-right: solid 3px white;border-radius: 0 0 20px 20px;}
.tabs .tab { text-transform: capitalize; font-weight: 600;}
.tabs .tab a{color: rgba(15, 148, 0, 0.7);text-shadow: 0px 1px 2px #b3b3b3;font-size: 15px;font-weight: 500;}
.tabs .indicator {height: 5px;background-color: rgba(238, 111, 116, 0.89);}
.carousel.gallery {-webkit-perspective: 500px;perspective: 500px;margin-top: 20px;}
.carousel .carousel-item{width: 250px;height: 350px;overflow: auto;}
.carousel .carousel-item.ncl{background: linear-gradient(to right, rgba(255, 255, 255, 0.86) 36%,rgba(255, 255, 255, 0.28) 100%);}
.carousel.gallery p{ line-height: 1.3;margin: 0;}
article{margin: 0 25px 0 25px;font-family: 'Roboto Condensed', sans-serif;
ul:not(.browser-default){padding-left:25px;
  li{list-style-type: initial;}
}
}
  h1,h2{font-family: 'Roboto Condensed', sans-serif;}

  .niveles{float:left;width: 100%;background: linear-gradient(180deg,rgba(255, 255, 255, 0),white);border-bottom: 5px solid rgba(255, 223, 0, 0.8);border-radius: 0 0 15px 15px;
    h2{font-size: 2.56rem;line-height: 70px;margin: 3px 0 3px 15px;color: rgba(212, 16, 188, 0.93);}
    .nvl{display:flex;}
    i{font-size: 2rem;}
  }
  .btn-niveles{background: linear-gradient(50deg,#e6e6e6,#fff,#e2e2e2);border-radius: 6px 6px 6px 6px;border: 1px solid rgba(87,52,238,.56);padding: 5px;margin: 0 3px;box-shadow: inset 2px 5px 3px 0 rgba(154, 154, 154, 0.32);width: 100%;text-align: center;}
  .btn-niveles:hover,.btn-niveles.active{background: linear-gradient(50deg,#ffcd00,#f3ff00,#ffbe00);transform: translate(0,5px);
    width: 100%;color: #fb0be1;
    text-align: center;}
  .noticias{display: flex;flex-direction: column-reverse;
    p{text-align: center;}
    a.btn-detalle{background: linear-gradient(#9600ff,#c066ff,#9600ff);padding: 8px;color: white;text-shadow: 1px 1px 1px black;border-radius: 5px;}
  }
  .btn-niveles.opacity{opacity:0.8;}
  .btn-niveles.opacity:hover{opacity:1;}

/*GALERIA DE FOTOS*/
/*album de fotos*/
.albums{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  .col-20{position: relative;transition: 0.5s all;
    >.directorio{ display: flex;width: 100%;
      @media only screen and (min-width:1193px){
        flex-direction: column;
      }
      @media only screen and (min-width: 791px) and (max-width: 1193px) {
      }
      @media only screen and (min-width: 491px) and (max-width: 791px){
      }
      @media only screen and (max-width: 491px){
      }
    }
    @media only screen and (min-width:1193px){
      width: calc(25% - 15px);
      margin: 7.5px;
    }
    @media only screen and (min-width: 791px) and (max-width: 1193px) {
      width:calc(33.3333% - 10px);
      margin: 5px;
    }
    @media only screen and (min-width: 491px) and (max-width: 791px){
      width:calc(50% - 10px);
      margin: 5px;
    }
    @media only screen and (max-width: 491px){
      width:calc(100% - 10px);
      margin: 5px;
    }
    &:hover{transform: scale(1.04);}
  }
}
  .galeria{
      width: 40%;
      position: relative;
      overflow: hidden;
    .icon-camera{
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 3rem;
      opacity: 0.9;
      transform: translate(-6%);
      transition: 0.5s all;
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(50deg,rgba(255, 215, 0, 0.47),transparent,rgba(92, 255, 127, 0.35));
    }
  }
  .galeria-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card .card-image{
    .card-title {
        color: rgba(0, 51, 153, 0.92);
        padding: 5px 10px;
        font-weight: 600;
        transition: 0.5s all;
        z-index: 1;
      &:hover{
        color: rgb(220, 45, 194);
      }
    }
    &::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    background: linear-gradient(transparent,rgba(255, 235, 97, 0.58));
    top: 0;
    }
  }
  .card .card-content {
      padding: 10px 15px;
  }
  .card .card-action {
    padding: 11px 24px;
  }
  .btn-leer{
    background: rgba(0, 53, 158, 0.87);
    color: #fff !important;
    text-shadow: -1px 0 3px rgba(45, 28, 0, 0.75), 2px 0px 3px rgba(45, 28, 0, 0.52);
    text-transform: none;
    &:hover , &:active{
     background: linear-gradient(rgb(216, 38, 181),rgb(220, 45, 194));
     color: #fff;
    }
  }
  a.nivel, .directorio{transition: all 0.3s linear;
    img,.galeria,.galeria-text{
      @media only screen and (min-width:1193px){
        width: 100%;
      }
      @media only screen and (min-width: 791px) and (max-width: 1193px) {
      }
      @media only screen and (min-width: 491px) and (max-width: 791px){
      }
      @media only screen and (max-width: 491px){
      }
    }
    img{
      object-fit: cover;
      border-radius: 10px 0 0 10px;border-bottom: solid 1px rgba(0, 0, 0, 0.15);
      @media only screen and (min-width:1193px){
        height:190px;
        border-radius: 10px 10px 0 0;
      }
      @media only screen and (min-width: 791px) and (max-width: 1193px){
        height:130px;
      }
      @media only screen and (min-width: 491px) and (max-width: 791px){
        height:125px;
      }
      @media only screen and (max-width: 491px){
        height:150px;
      }
    }
    span {
      position: absolute;
      top: 30%;
      left: 50%;
      border-radius: 15px;
      color: #213375;
      text-align: center;
      text-shadow: -2px 2px 3px hsla(0,0%,100%,.8), 2px -2px 4px hsla(0,0%,100%,.85);
      font-size: 1.625rem;
      font-weight: 700;
      line-height: 1;
      opacity: 0;
      transition: .5s all;
      transform: translateX(-50%) translateY(-200%);
    }
    h5{
      color: #1c2796;
      font-weight: 100;
    }
    &:hover{
      span {opacity: 1;transform: translateX(-50%) translateY(-50%);}
      .icon-camera{
        color: #191975;;
       right: 50%;
       font-size: 4rem;
       transform: translate(50%);
      }
      h5{}
    }
  }
  .imagen-nicole {border: solid 5px #8fc802;border-radius: 14px;margin-bottom: 10px;}
  #materialbox-overlay { background-color: rgba(201, 0, 255, 0.57);}

article.catalogo {display: flex;flex-direction: row;align-items: stretch;flex-wrap: wrap;justify-content: space-around;background: linear-gradient(90deg,white,rgba(255, 255, 255, 0.51));
}
    .tarjeta {margin: 5px;
      div {padding: 2px;color: #0060de;text-align: center;text-shadow: 1px 1px 1px #3e3e3e;border-radius: 0 0 10px 10px;
          img.responsive-img{width: 100%;object-fit:cover;
            @media only screen and (min-width:993px){height: 115px;}
            @media only screen and (min-width: 601px) and (max-width: 993px) {height: 120px;}
            @media only screen and (max-width: 601px){height: 100px;}
          }
      }
      @media only screen and (min-width:993px){width: calc(20% - 10px);}
      @media only screen and (min-width: 601px) and (max-width: 993px) {width: calc(33.3333333333% - 10px);}
      @media only screen and (max-width: 601px){width: calc(50% - 10px);}
    }

.row .articulo{position:relative;padding: 10px 25px;margin-top: 5px;margin-bottom: 10px;border-radius: 26px;background: linear-gradient(90deg,white, rgba(255, 255, 255, 0.56));
    .imgcalendario{text-align:center;
        @media only screen and (min-width:993px){
              width:40%;
        }
        @media only screen and (min-width: 601px) and (max-width: 993px) {
              width:65%;
        }
        @media only screen and (max-width: 601px){
              width:100%;
        }
    }
}
.row .calendary{
  display: flex;
  flex-wrap: wrap;
  .g-33{
    @media only screen and (min-width:1193px){
      width: calc(33.3333% - 15px);
      margin: 7.5px;
    }
    @media only screen and (min-width: 791px) and (max-width: 1193px) {
      width:calc(50% - 10px);
      margin: 5px;
    }
    @media only screen and (max-width: 791px){
      width:100%;
    }
  }
}

.borde-azul{
    background: white;
    border-radius: 10px;
    box-shadow: -1px 1px 6px 0px #3993ff;
}

.row .col.s24 {width: 19.9%; margin-left: auto; left: auto; right: auto; margin: 0; padding: 0;}
/* FORMULARIO DE CONTACTOS*/
.input-field { margin-top: 0rem;line-height: 0.7;}
.input-field .prefix {font-size: 1.2em;left: 15px;line-height: 0.6;color: rgb(31, 72, 150);}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 1.3rem;}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #504896;}
.input-field .prefix.active {color: rgb(219, 2, 223);}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(219, 2, 223);box-shadow: 0 1px 0 0 rgb(219, 2, 223);}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(219, 2, 223);
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    margin: 0 0 15px 0;}
.input-field label {color: #000000; top: 0.1rem; font-size: 0.8rem;}
textarea.materialize-textarea { min-height: 0rem;line-height: 16px;padding-bottom: 5px;}
iframe{width: 100%;}
/**********/
.pradera{margin-left: 7.5%; margin-right: 7.5%; width: 85%; margin-bottom: 7%; border-radius: 0 0 19px 19px;}
ul.social_icons {list-style: none; padding: 0; margin: 0 0; display: block;}
ul.social_icons li {display: inline-block;margin-right: 5px;margin-top: 11px;margin-bottom: 10px;}
ul.social_icons .fa-facebook {background: #2268d4;background: radial-gradient(#1286ff, #2268d4, #5cb4ff 110%);}
ul.social_icons .fa-twitter {background: #20B8FF;background: radial-gradient(#00a6ff, #1fb7ff, #ffffff);}
ul.social_icons .fa-google-plus {background: #D34836;background: radial-gradient(#ff5151, #ff3e3e, #801a1a);}
ul.social_icons li a i {border-radius: 50%;color: #FFFFFF;height: 40px;line-height: 40px;font-size: 20px;padding: 0;text-align: center;width: 40px;opacity: 0.75;}
ul.social_icons .fa-facebook:hover, ul.social_icons .fa-twitter:hover, ul.social_icons .fa-google-plus:hover {transform: rotate(360deg);transition-duration: 2s;transition-property: all;transition-timing-function: ease;opacity: 1;transition: all 0.9s ease 0s;}
footer.dir-fot{display: flex;background: linear-gradient(transparent,rgba(0,201,239,.82) 40%,#cffffe 72%,#70ff00 106%);}
footer.barra-fot{margin-top: 0;margin-bottom: 0;padding: 8px 0 3px 0;background: linear-gradient(#ffdf00,#ff9700);}
footer #datos{margin-top: 10px;}
footer #datos p {margin: 0px;}
footer #datos a {color: #bd006f;background: rgba(255, 255, 255, 0.71);padding:  5px;border-radius: 10px;transition: 0.3s;transform: translateX(2px);}
footer #datos a:hover { color: #009ac3;text-shadow: 1px 1px 0 #303030;transition: 0.3s;transform: translateX(2px);}
footer .center-align {}
p.ah {line-height: 0;opacity: 0.6;transition: 0.4s;}
p.ah:hover, p.ah a:hover {opacity: 1; color: #bd006f; transition: 0.4s;}
nav.nav-extended .nav-wrapper {min-height: 200px;}
.flex-center-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}



$z-modal: 9000;
$z-overlay: 8000;
$z-dropdown: 7000;
$z-header: 6000;
/*MODAL YOUTUBE*/
.Modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-modal;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  cursor: pointer;
}
.Modal-box {
  /*@include centerer();*/
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  @media only screen and (min-width:900px){
    width: 65%;
  }
  > .video-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;
    margin: auto;
    overflow: hidden;
    > iframe,
    > object,
    > embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.Modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-modal + 1;
  padding: 5px 10px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-shadow: none;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.85);
}

.Modal-cancel-overflow {
  overflow: hidden;
}
